.fourwords{
    background: $one;
    position: relative;
    @extend .fullscreen;
    #canvas{
        opacity: 0;
        position: absolute;
        animation: apeared 2s linear forwards,
                   disapear 0.3s linear forwards 8.8s;
    }

}
