.fourwords{
    background: $one;
    position: relative;
    @extend .fullscreen;
    @extend .flexcenter;
    #canvas{
        opacity: 0;
        filter: blur(5px);
        position: absolute;
        animation: apeared 2s linear forwards;
                //    disapear 0.3s linear forwards 8.8s;
    }
    h1,h2{
        @extend .fontstyle;
        color: $two;
        animation: apear 5s linear forwards;
    }
}
