$bg:#666666;
#canvas{
    z-index: -1;
    background: $bg;
    // background: radial-gradient(circle, rgb(248, 246, 248), rgb(204, 203, 204));
}
.carmove{
    *{
        position: absolute;
    }
    .go-ahead{
        opacity: 0;
        top:calc(25vh - 35px);
        animation: fontappear 5.3s ease-in-out 2.8s;
    }
    .go-ahead,.ignore{
        left: 0;
        right: 0;
        text-align: center;
        font-size: 40px;
        font-weight:200; 
        color: white;
    }
    .ignore{
        bottom: calc(25vh - 35px);
        opacity: 0;
        animation: fontappeared 4.3s ease-in-out 6.8s forwards;
        span{
            color: #99ccff;
        }
        
    }
    .dispear {
        opacity: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background: $bg;
        animation: fontappeared 0.5s ease-in-out 13.6s forwards;
    }
}

.idea{
    background: $bg;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    *{
        opacity: 0;
        color: #fff;
        font-size: 44px;
        font-weight: 200;
    }
    h1{
        animation: fontappear 2.3s ease-in-out ;
    }
    h2{
        display: inline-block;
        width: 150px;
        height: 150px;
        // line-height: 150px;
        text-align: center;
        vertical-align: middle;
        animation: toBall 4.3s ease-in-out 1.8s forwards;
    }
}


@keyframes fontappear{
    // 0%{opacity: 0;}
    70%{opacity: 1;}
    100%{opacity: 0;}
}

@keyframes fontappeared{
    70%{opacity: 1;}
    100%{opacity: 1;}
}

@keyframes toBall{
    33.3% {
        opacity: 1;
    }
    40%{
        color: transparent;
        background: #fff;
    }
    66.7%{
        border-radius: 50%;
        color: transparent;
        width: 150px;
        height: 150px;
    }
    100%{
        width: 0;
        height: 0;
        background: #fff;
        border-radius: 50%;
        opacity: 1;
        color: transparent;
    }
}