.carmove{
    #canvas {
        z-index: -1;
        background: $one; 
    }
    animation: disapear 0.2s linear 10.3s forwards;
    *{
        position: absolute;
    }
    .go-ahead{
        top:calc(25vh - 35px);
        animation: apear 4s ease-in-out 2.8s;
    }
    .go-ahead,.ignore{
        left: 0;
        right: 0;
        text-align: center;
        @extend .fontstyle;
        color: $two;
    }
    .ignore{
        bottom: calc(25vh - 35px);
        right: 20px;
        animation: apeared 3.7s ease-in-out 6.8s forwards;
        span{
            color: $three;
        }
        
    }
    .dispear {
        @extend .fullscreen;
        opacity: 0;
        z-index: 100;
        background: $one;
        animation: apeared 0.5s ease-in-out 13.6s forwards;
    }
}

.idea{
    background: $one;
    @extend .fullscreen;
    @extend .flexcenter;
    h1,h2{
        @extend .fontstyle;
    }
    h1{
        color: $two;
        animation: apear 4s ease-in-out ;
    }
    h2{
        color: $three;
        display: inline-block;
        @include box(150px,150px);
        line-height: 150px;
        text-align: center;
        vertical-align: middle;
        animation: toBall 3.3s ease-in-out  forwards;
    }
}

.box{
    @include box;
}


@keyframes toBall {
    55.3% {
        opacity: 1;
        color: $three;
        background: $one;
    }
    65% {
        height: 150px;
        width: 150px;
        color: transparent;
        background: $three;
    }
    70.7% {
        border-radius: 50%;
    }
    100% {
        width: 0;
        height: 0;
        background: $three;
        border-radius: 50%;
        opacity: 1;
        color: transparent;
    }
}