@import "../variable.scss";

#canvas{
    z-index: -1;
    background: $one;
    // background: radial-gradient(circle, rgb(248, 246, 248), rgb(204, 203, 204));
}
.carmove{
    animation: disapear 0.2s linear 10.3s forwards;
    *{
        position: absolute;
    }
    .go-ahead{
        opacity: 0;
        top:calc(25vh - 35px);
        animation: fontappear 4s ease-in-out 2.8s;
    }
    .go-ahead,.ignore{
        left: 0;
        right: 0;
        text-align: center;
        font-size: 40px;
        font-weight:200; 
        color: $two;
    }
    .ignore{
        bottom: calc(25vh - 35px);
        opacity: 0;
        right: 20px;
        animation: fontappeared 3.7s ease-in-out 6.8s forwards;
        span{
            color: $three;
        }
        
    }
    .dispear {
        opacity: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background: $one;
        animation: fontappeared 0.5s ease-in-out 13.6s forwards;
    }
}

.idea{
    background: $one;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    *{
        color: $two;
        font-size: 44px;
        font-weight: 200;
    }
    h1,h2{
        opacity: 0;
    }
    h1{
        animation: fontappear 4s ease-in-out ;
    }
    h2{
        display: inline-block;
        width: 150px;
        height: 150px;
        line-height: 150px;
        text-align: center;
        vertical-align: middle;
        animation: toBall 3.3s ease-in-out  forwards;
    }
}

.box{
    width: 100px;
    height: 100px;
}
@keyframes disapear{
    to{opacity: 0;}
}

@keyframes fontappear{
    70%{opacity: 1;}
    100%{opacity: 0;}
}

@keyframes fontappeared{
    70%{opacity: 1;}
    100%{opacity: 1;}
}

@keyframes toBall{
    55.3% {
        opacity: 1;
        color: $two;
        background: $one;
    }
    65%{
        height: 150px;
        width: 150px;
        color: transparent;
        background: $two;
    }
    70.7%{
        border-radius: 50%;
    }
    100%{
        width: 0;
        height: 0;
        background: $two;
        border-radius: 50%;
        opacity: 1;
        color: transparent;
    }
    // 100%{
    //     width: 10px;
    //     height: 10px;
    //     background: $two;
    //     border-radius: 50%;
    //     opacity: 1;
    //     color: transparent;
    // }
}