$movetime:1s;
.department{
    div{
        display: inline-block;
        position: relative;
        width: 20vw;
        height: 100vh;
        bottom: 100vh;
        &::after{
            content: "";
            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width:calc( 100% - 40px);
            height:calc( 100% - 40px);
            // background:rgba(51,51,51,.5);
            animation: $movetime displaycover ease-in $movetime*5 forwards;
        }
    }
    div:nth-of-type(1){
        background: rgb(65, 31, 39);
        // &::after{
        //     content: "UI"
        // }
        animation: $movetime blockfall ease-in forwards;
    }
    div:nth-of-type(2) {
        background: rgb(143, 135, 116);
        animation: $movetime blockfall ease-in $movetime forwards;
    }
    div:nth-of-type(3) {
        background: rgb(235, 200, 170);
        animation: $movetime blockfall ease-in $movetime*2 forwards;
    }
    div:nth-of-type(4) {
        background: rgb(39, 45, 45);
        animation: $movetime blockfall ease-in $movetime*3 forwards;
    }
    div:nth-of-type(5) {
        background: rgb(232,102,86);
        animation: $movetime blockfall ease-in $movetime*4 forwards;
    }
}

@keyframes blockfall{
    to{bottom: 0;}
}

@keyframes displaycover{
    to {background: rgba(51, 51, 51, .5);}
}