.final{
    position: relative;
    background: $one;
    @extend .fullscreen;
    animation: tolight 1s linear forwards 6.5s;
    h1,h2,h3,h4{
        @extend .absolute;
        @extend .fontstyle;
        text-align: center;
        line-height: 100vh;
    }
    h1,h2{
        color: $two;
    }
    h3,h4{
        color: $one;
    }
    h1{
        animation: font-kirakira 2.5s linear  forwards;
    }
    h2{
        animation: font-kirakira 4s linear forwards 2.5s;
    }
    h3{
        animation: font-kirakira 2.5s linear forwards 6.5s;
    }
    h4{
        animation: font-kirakira 4s linear forwards 9s;
    }
}
.all{
    background: $two;
    @extend .fullscreen;
    position: relative;
    margin: auto;
    img,p{
        position: absolute;
        animation: apeared 1s linear forwards;
    }
    img{
        bottom: 55vh;
        width: 460px;
        height: auto;
        left: calc(50vw - 230px);
        
    }
    p{
        font-weight: 200;
        font-size: 30px;
        color: $one;
        top: 55vh;
        width: 100vw;
        text-align: center;
    }
    
}
@keyframes font-kirakira{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes tolight {
    0% {
        background: $two;
    }
    100% {
        background: $two;
    }
}