$w:400px;
$h:300px;
$width:35px;
$top-status:$h/2 - $width/2;
.light{
    @include box($w, $h);
    @extend .absolute;
    position: relative;
    .ball{
        position: absolute;
        background: $two;
        @include box($width,$width);
        border-radius: 50%;
        top:$top-status;
        left: 0;
        right: 0;
        margin: 0 auto;
        animation: light-fall 0.75s cubic-bezier(.76, .01, .27, 1) 1,
                   disapear 1ms linear forwards 0.75s;
                //    todark 1s linear forwards 2.25s,
                //    disapear 0.5s linear forwards 3.25s;
    }
    .lightboom{
        position: absolute;
        top: 100px;
        left: 150px;
    }
}

@keyframes light-fall{
    0%{
        top: $top-status;
        height: $width;
    }
    50%{
        top:$top-status + 200px;
        height: $width*.7;
    }
    100%{
        top: $top-status;
        height: $width;
    }
}

@keyframes todark{
    0%{background: $one;}
    100%{background: $one;}    
}