@import "./_variable.scss";
@import "./_mixin.scss";
@import "./_extend.scss";
@import "./_keyframes.scss";

@import "./_reset.scss";

@import "../Atom/Atom.scss";
@import "../Carmove/Carmove.scss";
@import "../Final/Final.scss";
@import "../Fourwords/Fourwords.scss";
@import "../Logo/Logo.scss";
@import "../Pen/Pen.scss";
@import "../Selectbox/Selectbox.scss";
@import "../Soapbubble/Soapbubble.scss";
@import "../Light/Light.scss";

.begin{
    @extend .fullscreen;
    @extend .flexcenter;
    .begin-button{
        display: block;
        height: 96.5px;
        width: 460px;
        border: none;
        background: url("../Logo/Logo.png");
        background-size: cover;
    }
}
