@import "../variable.scss";

@mixin movep($top, $left, $bottom, $right) {
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}
$time:1;
.atom{
    
    #canvas {
        z-index: -1;
        position: absolute;
    }
    .outer {
        position: relative;
        width: 100vw;
        height: 100vh;
    }
    .first,.second{
        background: $three;
        border-radius: 50%;
        position: absolute;
        @include movep(0, 0, 0, 0);
        margin: auto;
    }
    
    .first{
        width: 0;
        height: 0;
        animation:ballapear 0.5s ease-in forwards 1.7s,
                  ballmove 5s linear forwards 2.2s,
                  moveleft 0.5s linear forwards 7.2s,
                  colseleft 0.5s linear forwards 14.751s,
                  tobig 0.5s ease-in forwards 15.251s;
    }
    .second{
        width: 100px;
        height: 100px;
        animation: moveright 0.5s linear forwards,
                   closeright 0.5s linear forwards 7.551s;
    }

    .small{
        width: 110px;
        height: 110px;
        position: absolute;
        @include movep(0, 0, 0, 0);
        margin: auto;
        .smallball{
            width: 40px;
            height: 40px;
            position: absolute;
            background: $three;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 50%;
            transform-origin: calc(-20vw - 20px) -20px;
            //cubic-bezier(.24, .75, .76, .1)
            animation: whirlleft 2.7s linear 1.2s forwards,
                       whirlright 2.7s linear 3.901s forwards;
        }
        .circleone{
            stroke: $three;
        }
        .circlesvg{
            stroke:$one;
            stroke-dasharray: 0 314;
            animation: rot 2s linear forwards 0.3s,
                       rerot 1.85s linear forwards 5.201s;
        }
        animation:smallballapear 0.3s ease-in forwards,
                  change 0.001s linear 3.9s forwards;
                //   smalldisapear 0.3s ease-in forwards 6.051s;
    }

    h1,h2{
        position: absolute;
        top: 75vh;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 44px;
        color: $three;
        opacity: 0;
        font-weight: 200;
    }
    h1{
        animation: fontapear 5s linear 2.2s;
    }
    h2{
        animation: fontapear 5.4s linear 8s;
    }
}
$range:25px;
@keyframes fontapear{
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes ballapear{
    to{
        width: 150px;
        height: 150px;
    }
}

@keyframes smallballapear{
    to{
        width: 110px;
        height: 110px;
    }
}

@keyframes smalldisapear{
    to{
        width: 0;
        height: 0;
    }
}

@keyframes ballmove{
    10%{
        @include movep(1.5*$range, 0, 0, 0);
    }
    15%{
        @include movep(0, 1.3*$range, 1.2*$range, 0);
    }
    30%{
        @include movep(1.3*$range, 0, 0, 1.2*$range);
    }
    40%{
        @include movep(1.3*$range, 1.4*$range, 0, 0);
    }
    55%{
        @include movep(0, 1.2*$range, 1.7*$range, 0);
    }
    67%{
        @include movep(1.3*$range, 1.9*$range, 0, 0);
    }
    75%{
        @include movep(0, 0,1.8*$range, 1.5*$range);
    }
    87%{
       @include movep(0, 0, 0, 0);
    }
    100%{
        @include movep(0, 0, 0, 0);
        width: 100px;
        height: 100px;
    }
}

@keyframes moveleft{
    to{right: 40vw;}
}
@keyframes colseleft {
    // to {
    //     margin-left: calc(50vw - 50px);
    // }
    to {
        right: 0;
    }
}
@keyframes closeright{
    to{left: 0;}
}


@keyframes moveright{
    to{left: 40vw;}
}

@keyframes whirl{
    89% {
        transform: rotate(200deg);
    }
    91% {
        transform: rotate(200deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

@keyframes tobig{
    to{
        border-radius: 0%;
        width: 200vw;
        height: 200vw;
        
    }
}

@keyframes rot {
    100% {
        stroke-dasharray: 314 314;
    }
}

@keyframes rerot{
    100%{
        stroke-dasharray: 0 314;
    }
}
@keyframes whirlleft{
    48%{
        transform: rotate(180deg);
    }
    90%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes whirlright{
    to{
        transform: rotate(-360deg);
    }
}

@keyframes change{
    to{transform: rotate(180deg)}
}