$time:1;
.atom{
    #canvas {
        z-index: -1;
        position: absolute;
    }
    .outer {
        position: relative;
        @extend .fullscreen;
    }
    .first,.third{
        background: $two;
        border-radius: 50%;
        @extend .absolute;
       
    }
    .first{
        opacity: 0;
        @extend .zerobox;
        animation:ballapear 0.5s ease-in forwards 1.7s,
                  ballmove 5s linear forwards 2.2s;
    }
    .third{
        @include box;
        animation: tobig 1s linear forwards,
                   tosmall 1s linear forwards 1s;
        // animation-direction:alternate;
    }
    .second{
        @extend .fullscreen;
        @extend .flexcenter;
    }
    h1,h2{
        position: absolute;
        top: 75vh;
        left: 0;
        right: 0;
        text-align: center;
        color: $two;
        @extend .fontstyle;
    }
    h1{
        animation: apear 5s linear 2.2s;
    }
    h2{
        animation: apear 5.5s linear 11s;
    }
}

@keyframes ballapear {
    0% {
        opacity: 1;
    }
    to {
        opacity: 1;
        @include box(150px, 150px);
    }
}

@keyframes tobig {
    50% {
        border-radius: 50%;
    }
    to {
        border-radius: 0%;
        @include box(200vw, 200vw);
    }
}

@keyframes tosmall{
    50%{
        border-radius: 50%;
    }
    100%{
        border-radius: 100%;
        @include box(100px,100px);
    }
}