@import "../variable.scss";
.logo {
    width: 100vw;
    height: 100vh;
    background: $one;
    display: flex;
    align-items: center;
    img{
        width: 460px;
        height: auto;
        // height: 76px;
        margin-left: -460px;
        animation: 2.5s logomove cubic-bezier(.24, .75, .76, .1);
    }
    
}
//Logo移进移出效果
@keyframes logomove{
    to{margin-left: calc(100vw + 460px);
    }
}
