$bezier:.78,.09,.31,.89;
.pen{
    position: relative;
    @extend .fullscreen;
    background: $one;
    .pen-body{
        @extend .absolute;
        @include box(20px,20px);
        border: 2px $two solid;
        opacity: 0;
        &::after{
            content: "";
            display: block;
            position: absolute;     
            top: 21px;
            border: 10px transparent solid;
            border-top-color: $two;
        }
        span{
            display: block;
            width: 2px;
            background-color: $two;
            position: absolute;
            top: 30px;
            left: 9px;
            animation: drawline-line 1s linear forwards 0.5s,
                       shrink-line 1s linear forwards 9s;
                       
        }
        
        animation: apeared 1s linear forwards ,
                   drawline-body 1s linear forwards 0.5s,
                   pen-move-left 3s cubic-bezier(#{$bezier}) forwards 2s,
                   pen-move-right 3s cubic-bezier(#{$bezier}) forwards 5.5s,
                   shrink-body 1s linear forwards 9s,
                   disapear 1s linear forwards 10s;
    }   
    h2,h3{
        position: absolute;
        color: $two;
        @extend .fontstyle;
        opacity: 1;
        &::after{
            content: "";
            position: absolute;
            display: block;
            width: 40vw;
            height: 48px;
            background: $one;
            margin-top: -48px;
       }
    }
    h2{
        top: calc(50vh - 30px);
        left: 0;
        right: 50vw;
        text-align: center;
        &::after{
            left: 10vw;
            animation: thin-left 3s cubic-bezier(#{$bezier}) forwards 2s,
        }
        animation: disapear 0.5s linear 5s forwards;
    }
    h3{
        top: calc(50vh - 30px);
        left: 50vw;
        right: 0;
        text-align: center;
        &::after {
            animation: thin-right 3s cubic-bezier(#{$bezier}) forwards 5.5s,
        }
        animation: disapear 0.5s linear 8.5s forwards;
    }
}

@keyframes drawline-line{
    from{height: 0;}
    to{height: 50vh;}
}
@keyframes drawline-body{
    from{bottom: 0;}
    to{bottom: 50vh;}
}

@keyframes shrink-line{
    from{height: 50vh;}
    to{height: 0;}
}
@keyframes shrink-body{
    from{bottom:50vh;}
    to{bottom: 0;}
}

@keyframes pen-move-left{
    0%{right: 0;}
    50%{right: 80vw;}
    100%{right: 0;}
}
@keyframes pen-move-right {
    0% {left: 0;}
    50% {left: 80vw;}
    100% {left: 0;}
}

@keyframes thin-left{
    50%{
        width: 40vw;
        left: 10vw;
    }
    100%{
        left: 50vw;
        width: 0;
    }
}
@keyframes thin-right {
    50% {
        width: 40vw;
    }
    100% {
        width: 0;
    }
}